@import "node_modules/bootstrap/scss/bootstrap";

body {

}

.masthead {
  height: 120vh;
  background-image: url("img/CoverPicture-wip.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.navbar{
  border: none;
}

nav-item{
  font: white !important;
}

.navbar-nav > li{
     padding-left:3vw;
     padding-right:3vw;
}

.buttonsection {
  justify-content: center;
  padding-top:3%;
}

.btn-xlarge {
    padding-left:1vw;
    padding-right:1vw;
    padding-top:1vh;
    padding-bottom:1vh;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.sectiontitle {
  height: 25vh;
  max-height: 100%;
  background-image: url("img/Logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.section1 {
  height: 120vh;
  min-height: 500px;
  background-image: url("img/BG1_CampervanNoText.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section2 {
  height: 120vh;
  min-height: 500px;
  background-image: url("img/BG2_Snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section3 {
  height: 120vh;
  min-height: 500px;
  background-image: url("img/BG3_Pond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
iframe {
   display: block;
   margin: 0 auto;

}

steamiframe{
  display: block;
  padding-top: 10vh;
}

.iframe-container{
  position: absolute;
  width: 90%;
  padding-bottom: 56.25%;
  height: 0;

}
.iframe-container iframe{
  position: absolute;
  top:5%;
  left:15%;
  width: 80%;
  height: 65%;
}
