body {

}

.masthead {
  height: 120vh;
  min-height: 500px;
  background-image: url("img/CoverPicture-wip.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.transparentBG {
  background-color: rgba(0,0,0,0);
}


.navbar{
  border: none;

}
nav{

}
.nav a{
    color: white !important;
    font-size: 1.8em !important;
    }
.nav li{
    padding-right:5px;
   }

.buttonpadding {
  padding-bottom: 25%;
}

.section1 {
  height: 120vh;
  min-height: 500px;
  background-image: url("img/BG1_CampervanNoText.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section2 {
  height: 120vh;
  min-height: 500px;
  background-image: url("img/BG2_Snow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

iframe {
   display: block;
   margin: 0 auto;

}
